{{> partials/header}}

<h1>Detalhes do Ingresso</h1>

<p><strong>Ingresso:</strong> {{ticketType.name}}</p>
<p><strong>Preço:</strong> R$ {{ticketType.price}}</p>
<p><strong>Quantidade:</strong> {{quantity}}</p>
<p><strong>Data da Compra:</strong> {{purchaseDate}}</p>

<a href="/purchases">Voltar</a>

{{> partials/footer}}